<h1>Users#new</h1>
<%= form_with model: @user do |f| %>
	<%= f.text_field :first_name, placeholder: 'First Name' %>
	<%= f.text_field :last_name, placeholder: 'Last Name' %>
	<%= f.text_field :email, placeholder: 'E-Mail' %>
	<%= f.password_field :password, placeholder: 'First Name' %>
	<%= f.submit %>
<% end %>


<p>Find me in app/views/users/new.html.erb</p>
