<!DOCTYPE html>
<html>
  <head>
    <title>SecondRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Users Index", users_path %>
  	<%= link_to "Users New", new_user_path %>
  	<%= link_to "Users New", user_path(User.first) %>
    <%= yield %>
  </body>
</html>
