<!DOCTYPE html>
<html>
  <head>
    <title>SecondRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Users Index", users_path %>
  	<%= link_to "Users New", new_user_path %>
    <%= link_to "Users New", user_path(User.first) %>
    <% if user_signed_in? %>
      <p>You're logged in.</p>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "New Session", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
